.head{
	background:url("candykingdom3.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	position: relative;
	top: 0px;
	right: 0px;
	left: 0px;
	
}
h1{

	color: #FF1493;
}
#nav{
	;
	
	
}
a:link{
	
	text-decoration: none;
	color: #FF1493;
}
a:visited{
	
	text-decoration: none;
	color: #FF1493;
}
