body{
	background-image: url("./pic_temp/loginpagewall.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:  110% 100%;
}
h1{
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 140px;
	margin-top:2%;
	margin-left: 23%;
}
form{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 22px;
	margin-top:-6%;
	margin-left: -29%;
}
input{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 18px;
}
#home{
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 18px;
}
#user{
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 18px;
	margin-top: 0.5%;
	margin-left: 33.8%;
}
a:link{
	text-decoration: none;
	color: #000;
}
a:visited{
	text-decoration: none;
	color: #000;
}