body{
	background-image: url("./pic_temp/CL1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 105% 100%;	
}
h1{
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 135px;
	margin-left: 21%;
}
table{
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 28px;
	font-color: #fff;
	margin-top: -6%; 
	margin-left: 25%;

}
input{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 20px;
}

	

