body{
	background-image: url("./pic_temp/CL1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 105% 100%;	
}
h1{
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 135px;
	margin-top: 2%;
	margin-left: 21%;
}
table{
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 22px;
	font-color: #fff;
	margin-top: -6%; 
	margin-left: 25%;
}
input{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 18px;
}
#home{
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 18px;

}a:link{
	text-decoration: none;
	color: #000;
}
a:visited{
	text-decoration: none;
	color: #000;
}
	

